<div class="container">
  <%= simple_form_for @club do |f| %>
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Edit Club', class: "btn btn-success rounded-4" %></p>
  <% end %>

  <%= link_to 'Back', clubs_path, class: "btn btn-secondary mt-3" %>
</div>
