<div class="container">

  <h5><%= @club.name %> (<%= @club.abbreviation %>)</h5>
  <%= cl_image_tag @club.photo.key, height: 100, width: 100, crop: :fill, class: "rounded-top-4 me-2 mr-1" %>
  <p><strong>Adress:</strong> <%= @club.address %></p>
  <p><strong>Email:</strong> <%= @club.email %></p>
  <p><strong>Phone:</strong> <%= @club.phone_number %></p>
  <%= link_to "Edit", edit_club_path(@club) %> |
  <%= button_to "Delete", club_path(@club), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> |
  <%= link_to "Back", clubs_path %>

</div>
