<div class="container">

  <h5><%= @club.name %> (<%= @club.abbreviation %>)</h5>
  <p><strong>Adress:</strong> <%= @club.address %></p>
  <p><strong>Email:</strong> <%= @club.email %></p>
  <p><strong>Phone:</strong> <%= @club.phone_number %></p>
  <%#= link_to "Edit", edit_referee_path(@referee) %> |
  <%#= button_to "Delete", referee_path(@referee), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> |
  <%= link_to "Back", clubs_path %>

</div>
