<div class="show-container">

  <span class="title-card col-8"><h1><%= @club.name %></h1></span>

  <div class="show-two-column-container col-12 gap-3">

    <div class="simple-card d-flex align-items-center justify-content-center m-0 p-4 col-3">
      <span><%= cl_image_tag @club.photo.key, height: 120, width: 120, crop: :fill, class: "rounded-top-4 me-2 mr-1" %></span>
      <h5><%= @club.name %></h5>
      <p class="p-highlight mt-4 mb-1">Address</p>
      <h5><%= @club.address %></h5>
      <p class="p-highlight mt-4 mb-1">Email</p>
      <h5><%= @club.email %></h5>
      <p class="p-highlight mt-4 mb-1">Phone No.</p>
      <h5><%= @club.phone_number %></h5>
      <span class="btn btn-success mt-3 rounded-4 col-12"><%= link_to "Edit", edit_club_path(@club) %></span>
      <span class="btn btn-danger mt-3 rounded-4 col-12"><%= link_to "Delete", club_path(@club), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></span>
    </div>

    <div class="simple-list d-flex align-items-start justify-content-start m-0 p-0 col-5">
      <div class="list-group rounded-4 col-12 mb-4">
        <button type="button" class="list-group-item list-group-item-action-none active" aria-current="true"><%= @club.name %>'s Squad</button>
          <% @club.players.each do |player| %>
          <%= link_to club_player_path(@club, player), class: "list-group-item list-group-item-action d-flex align-items-center mb-1" do %>
            <p class="m-0"><span class="p-highlight mx-3"><%= player.player_number %></span> <%= player.full_name %></p>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
