<div class="modal fade" id="modalPlayer-<%= player.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog model-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3><%= "#{player.first_name} #{player.last_name}" %></h3>
        <%= simple_form_for [report, report_instance] do |f| %>
          <%= f.input :player_id, as: :hidden, input_html: { value: player.id } %>
          <%= f.input :category, collection: ReportInstance::REPORT_INSTANCES_CATEGORIES, label: 'Category:' %>
          <%= f.input :minute, as: :integer %>
          <span class="d-display justify-content-centered"><%= f.submit "Add", class:"btn btn-success rounded-4 col-12 mx-1" %></span>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
