<nav>
  <ul class="nav-list">
      <li class="nav-item">
        <%= link_to root_path do %>
        <div class="logo">
          <%= image_tag "sportsadmin-whitelogo.svg", class: "nav-item-icon" %>
          <span class="nav-item-text">Sports Admin</span>
        </div>
      </li>
      <% end %>
    </a>
    <li class="nav-item">
      <%= link_to root_path do %>
        <i class="fa-solid fa-house nav-item-icon"></i>
        <span class="nav-item-text">Home</span>
      <% end %>
      </a>
    </li>
    <li class="nav-item">
      <%= link_to games_path do %>
        <i class="fa-solid fa-calendar nav-item-icon"></i>
        <span class="nav-item-text">Calendar</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to referees_path do %>
        <i class="fa-solid fa-user nav-item-icon"></i>
        <span class="nav-item-text">Referees</span>
      <% end %>
      </a>
    </li>
    <li class="nav-item">
      <%= link_to competitions_path do %>
        <i class="fa-solid fa-trophy nav-item-icon"></i>
        <span class="nav-item-text">Competitions</span>
      <% end %>
      </a>
    </li>
    <li class="nav-item">
      <%= link_to clubs_path do %>
        <i class="fa-solid fa-people-group nav-item-icon"></i>
        <span class="nav-item-text">Clubs</span>
        <% end %>
      </a>
    </li>
    <li class="nav-item">
      <%= link_to reports_path do %>
        <i class="fa-solid fa-clipboard-list nav-item-icon"></i>
        <span class="nav-item-text">Reports</span>
      <% end %>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-plus nav-item-icon"></i>
        <span class="nav-item-text">extra-one</span>
      </a>
    </li>
    <li class="nav-item logout">
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <i class="fa-solid fa-right-from-bracket nav-item-icon"></i>
        <span class="nav-item-text"> Log out</span>
      <% end %>
      </a>
    </li>
  </ul>
</nav>
