<div class="container">

  <div class="games">
    <h2 class="heading">Today's Games:</h2>

    <div class="card-deck">
      <% @games.where(game_date: DateTime.now.all_day).each do |game| %>
        <div class="card">

          <div class="card-body">
            <h5 class="card-title"><%= game.competition.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= game.club_home.name %> : <%= game.club_away.name %></h6>
            <p class="card-text"><strong>Date:</strong> <%= game.game_date.strftime('%d-%m-%Y') %> <strong>Hour:</strong> <%= game.game_date.strftime('%H:%M') %></p>
            <p class="card-text"><strong>Referee:</strong> <%= game.referee.first_name %> <%= game.referee.last_name %></p>
            <button class="btn btn-primary">Report</button>
          </div>

        </div>
      <% end %>

    </div>
  </div>

  <div class="games">
    <h2 class="heading">Next Games:</h2>
    <div class="card-deck">
      <% @games.where("game_date >= ?", (DateTime.now + 1.day).all_day).each do |game| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= game.competition.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= game.club_home.name %> : <%= game.club_away.name %></h6>
            <p class="card-text"><strong>Date:</strong> <%= game.game_date.strftime('%d-%m-%Y') %> <strong>Hour:</strong> <%= game.game_date.strftime('%H:%M') %></p>
            <p class="card-text"><strong>Referee:</strong> <%= game.referee.first_name %> <%= game.referee.last_name %></p>
            <button class="btn btn-primary">Report</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="games">
    <h2 class="heading">Last Games:</h2>
    <div class="card-deck">
      <% @games.where("game_date < ?", DateTime.now.all_day).each do |game| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= game.competition.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= game.club_home.name %> : <%= game.club_away.name %></h6>
            <p class="card-text"><strong>Date:</strong> <%= game.game_date.strftime('%d-%m-%Y') %> <strong>Hour:</strong> <%= game.game_date.strftime('%H:%M') %></p>
            <p class="card-text"><strong>Referee:</strong> <%= game.referee.first_name %> <%= game.referee.last_name %></p>
            <button class="btn btn-primary">Report</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

 <%#= button_to "Report", game_report_path, class: "button" %>

