<div class="container">

  <%= simple_form_for [@competition, @game] do |f| %>
    <%= f.association :referee, collection: User.where(role: "referee"), label_method: :full_name %>
    <%= f.input :game_date, as: :datetime, html5: true %>
    <%= f.submit 'Edit Match', class: "btn btn-success rounded-4" %></p>
  <% end %>

    <%= link_to "Back", game_path(@game), class: "btn btn-secondary mt-3" %>
</div>
