  <%= simple_form_for game do |f| %>
      <%= f.input :competition_id %>
      <%= f.input :club_home_id %>
      <%= f.input :club_away_id %>
      <%= f.input :referee_id %>
      <%= f.input :game_date %>
      <%= f.submit class: "btn btn-success rounded-4" %></p>
  <% end %>
