  <div class="container">

  <%= simple_form_for [@competition, @game] do |f| %>
      <%= f.association :club_home %>
      <%= f.association :club_away %>
      <%= f.association :referee, collection: User.where(role: "referee"), label_method: :full_name %>
      <%= f.input :game_date, as: :datetime, html5: true %>
      <%= f.submit 'Create Match', class: "btn btn-success rounded-4" %></p>
  <% end %>

    <%= link_to 'Back', games_path, class: "btn btn-secondary mt-3" %>

  </div>
