

<div class="main-container">

<div class="mt-5">

  <span class="title-matches"><h1>Referees</h1></span>
  <% @referees.each do |referee| %>

    <div class="games-container">
      <div class="games-card py-2 my-2">
          <div class="d-flex justify-content-between position-relative mx-5">

            <h6 style="decoration-none"><%= link_to referee.full_name, referee_path(referee) %></h6>
            <p><%= referee.email %> | <%= referee.phone_number %></p>
            <p><%= link_to "Edit", edit_referee_path(referee) %></p>
            <p class="btn btn-outline-primary rounded-4"><%= link_to "Delete", referee_path(referee), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
            <p class="btn btn-outline-primary rounded-4"><%= link_to "Add Referee", new_referee_path %></p>

          </div>
      </div>
    </div>

  <% end %>

</div>
