<div class="show-container">

  <span class="title-card col-8"><h1><%= @referee.full_name %>'s Profile </h1></span>

  <div class="show-two-column-container col-12 gap-3">

    <div class="simple-card d-flex align-items-center justify-content-center m-0 p-4 col-3">
      <span><%= image_tag "noun-referee-1817217-01.svg", class: "profile-default mt-2"%></span>
      <h3><%= @referee.first_name %></h3>
      <h3><%= @referee.last_name %></h3>
      <p class="p-highlight mt-4 mb-1">Email</p>
      <h5><%= @referee.email %></h5>
      <p class="p-highlight mt-4 mb-1">Phone No.</p>
      <h5><%= @referee.phone_number %></h5>
      <span class="btn btn-success mt-3 rounded-4 col-12"><%= link_to "Edit", edit_referee_path(@referee) %></span>
      <span class="btn btn-danger mt-3 rounded-4 col-12"><%= link_to "Delete", referee_path(@referee), method: :delete, data: {turbo_confirm: "Are you sure?"} %></span>
    </div>

    <div class="simple-list d-flex align-items-start justify-content-start m-0 p-0 col-5">

      <div class="list-group rounded-4 col-12 mb-4">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true"><%= @referee.full_name %>'s Upcoming Matches</button>
        <% @games.where("game_date >= ?", (DateTime.now + 1.day).all_day).each do |report| %>
          <%= link_to link_to game_path(game), class: "list-group-item list-group-item-action" do %>
            <%= "#{report.club_home.abbreviation} vs #{report.club_away.abbreviation} Report" %>
          <% end %>
        <% end %>
      </div>

      <div class="list-group rounded-4 col-12">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true"><%= @referee.full_name %>'s Reports</button>
        <% @games.where("game_date < ?", DateTime.now.all_day).each do |report| %>
          <%= link_to report_game_path(report), class: "list-group-item list-group-item-action" do %>
            <%= "#{report.club_home.abbreviation} vs #{report.club_away.abbreviation} Report" %>
          <% end %>
        <% end %>
      </div>

    </div>






  </div>

</div>
