<div class="show-container">

  <div class="col-8">
    <div class="title-card col-12 d-flex align-items-center justify-content-between">
      <h1>Reports - <%= @competition.present? ? @competition.name : "All Games" %></h1>
      <div class="dropdown" style="margin-bottom: 20px;">
        <button class="btn btn-success rounded-4 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Competitions
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><%= link_to "All Games", reports_path, class: "dropdown-item" %></li>
          <% @competitions.each do |competition| %>
            <li><%= link_to competition.name , reports_path(competition_id: competition.id), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="my-3">
      <div class="position-relative mt-5">
        <% @games.each do |game| %>
          <% if game.referee.present? %>
            <h6><span class="badge rounded-pill text-bg-success position-absolute top-25 start-50 translate-middle"><%= game.competition.name %>  |  Referee: <%= game.referee.full_name %> </span></h6>
          <% else %>
            <h6><span class="badge rounded-pill text-bg-danger position-absolute top-25 start-50 translate-middle", style="color: white !important;"><%= game.competition.name %>  |  Referee: Not assigned </span></h6>
          <% end %>
          <%= link_to report_game_path(id: game.id, report: game.report), class: "text-decoration-none" do %>
            <div class="match-card d-flex align-items-center justify-content-between mb-4 p-2">
              <span class="left-logo" style="background-image: url('<%= cl_image_path game.club_home.photo.key %>')"></span>
              <h3 class="d-flex justify-content-end m-0 p-3 col-4"><%= game.club_home.abbreviation %></h3>
              <div class="">
                <p class="p-highlight m-0"><%= game.game_date.strftime("%-d %b") %><br><%= game.game_date.strftime("%k:%M") %></p>
              </div>
              <h3 class="d-flex justify-content-start m-0 p-3 col-4"><%= game.club_away.abbreviation %></h3>
              <span class="right-logo" style="background-image: url('<%= cl_image_path game.club_away.photo.key %>')"></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
