<div class="teams">
  <div class="team-names">
    <%= @game.club_home.abreviation %>
    vs
    <%= @game.club_away.abreviation %>
  </div>
  <div class="report-container">
  
    <table class="teams-table">
      <div class="players-home">
        <%= @game.club_home.abreviation %>
        <% @game.club_home.players.each do |player| %>
          <p><%= player.first_name %> <%= player.last_name %> agf9oahfoiahf</p>
        <% end %>
      </div>
    </table>

    <table class="teams-table">
      <div class="players-away">
        <%= @game.club_away.abreviation %>
        <% @game.club_away.players.each do |player| %>
          <p><%= player.first_name %> <%= player.last_name %></p>
        <% end %>
      </div>
    </table>

  </div>
</div>
