<div class="show-container">

  <div class="col-8">
    <div class="title-card col-12 d-flex justify-content-between align-items-center">
      <h1>Match #<%= @game.id %></h1>
      <h5><%= @game.game_date.strftime("%-d %b, %k:%M")%></h5>
    </div>

    <%# HEADER MATCH BEGIN %>

    <div class="my-3">
      <div class="position-relative mt-5">
        <% if @game.referee.present? %>
          <h6><span class="badge rounded-pill text-bg-success position-absolute top-25 start-50 translate-middle"><%= @game.competition.name %>  |  Referee: <%= @game.referee.full_name %> </span></h6>
        <% else %>
          <h6><span class="badge rounded-pill text-bg-danger position-absolute top-25 start-50 translate-middle", style="color: white !important;"><%= @game.competition.name %>  |  Referee: Not assigned </span></h6>
        <% end %>
        <%= link_to game_path(@game) do %>
          <div class="match-card d-flex align-items-center justify-content-between mb-4 p-2">
            <span class="left-logo" style="background-image: url('<%= cl_image_path @game.club_home.photo.key %>')"></span>
            <h3 class="d-flex justify-content-center m-0 p-3 col-4"><%= @game.club_home.abbreviation %></h3>
            <div class="col-2">
              <h1 class="m-0">2 - 0</h1>
            </div>
            <h3 class="d-flex justify-content-center m-0 p-3 col-4"><%= @game.club_away.abbreviation %></h3>
            <span class="right-logo" style="background-image: url('<%= cl_image_path @game.club_away.photo.key %>')"></span>
          </div>
        <% end %>
      </div>
    </div>

    <%# REPORT %>

    <div data-controller="submit-form-reports" data-turbo="false">

    <%= render "shared/new_final_report", game: @game, report: @report, report_instance: @report_instance %>

    </div>
  </div>
</div>
